force-app/main/default/flows/Deploy.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <apiVersion>57.0</apiVersion>
    <choices>
        <name>A</name>
        <choiceText>A</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>A</stringValue>
        </value>
    </choices>
    <decisions>
        <name>Create_Update</name>
        <label>Create&amp;Update</label>
        <locationX>508</locationX>
        <locationY>379</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Create</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deployget1.Account__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <elementReference>Account.recordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CreateRec</targetReference>
            </connector>
            <label>Create</label>
        </rules>
        <rules>
            <name>Update</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Deployget1.Account__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Account.recordId</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Updaterec</targetReference>
            </connector>
            <label>Update</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>relayopp</name>
        <collectionReference>DeployGet</collectionReference>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>Opportunity</object>
        <valueField>Name</valueField>
    </dynamicChoiceSets>
    <dynamicChoiceSets>
        <name>Status</name>
        <dataType>Picklist</dataType>
        <displayField xsi:nil="true"/>
        <object xsi:nil="true"/>
        <picklistField>Status__c</picklistField>
        <picklistObject>Deployment_frequency__c</picklistObject>
    </dynamicChoiceSets>
    <environments>Default</environments>
    <interviewLabel>Deploy {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Deploy</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>FREE_FORM_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>CreateRec</name>
        <label>CreateRec</label>
        <locationX>644</locationX>
        <locationY>237</locationY>
        <inputAssignments>
            <field>Account__c</field>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedOpportunity__c</field>
            <value>
                <elementReference>RelatedOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status4</elementReference>
            </value>
        </inputAssignments>
        <object>Deployment_frequency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <name>DeployGet</name>
        <label>DeployGet</label>
        <locationX>323</locationX>
        <locationY>250</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>DeployMentFreq</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>false</getFirstRecordOnly>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>Deployget1</name>
        <label>Deployget1</label>
        <locationX>204</locationX>
        <locationY>363</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Create_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Deployment_frequency__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>Updaterec</name>
        <label>Updaterec</label>
        <locationX>803</locationX>
        <locationY>405</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Account__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Account.recordId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RelatedOpportunity__c</field>
            <value>
                <elementReference>RelatedOpportunity</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <elementReference>Status4</elementReference>
            </value>
        </inputAssignments>
        <object>Deployment_frequency__c</object>
    </recordUpdates>
    <screens>
        <name>DeployMentFreq</name>
        <label>DeployMentFreq</label>
        <locationX>443</locationX>
        <locationY>328</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Deployget1</targetReference>
        </connector>
        <fields>
            <name>Account2</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>Account.recordName</elementReference>
            </defaultValue>
            <fieldText>Account</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Name</name>
            <dataType>String</dataType>
            <fieldText>Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Status4</name>
            <choiceReferences>Status</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Status</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>RelatedOpportunity</name>
            <choiceReferences>relayopp</choiceReferences>
            <dataType>String</dataType>
            <fieldText>RelatedOpportunity</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen1</name>
        <label>Screen1</label>
        <locationX>436</locationX>
        <locationY>183</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>DeployGet</targetReference>
        </connector>
        <fields>
            <name>Account</name>
            <extensionName>flowruntime:lookup</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>fieldApiName</name>
                <value>
                    <stringValue>Account__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>label</name>
                <value>
                    <stringValue>Account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>objectApiName</name>
                <value>
                    <stringValue>Deployment_frequency__c</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>recordId</name>
                <value>
                    <elementReference>Account.recordName</elementReference>
                </value>
            </inputParameters>
            <inputsOnNextNavToAssocScrn>UseStoredValues</inputsOnNextNavToAssocScrn>
            <isRequired>true</isRequired>
            <storeOutputAutomatically>true</storeOutputAutomatically>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>330</locationX>
        <locationY>48</locationY>
        <connector>
            <targetReference>Screen1</targetReference>
        </connector>
    </start>
    <status>Draft</status>
    <variables>
        <name>reco</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Deployment_frequency__c</objectType>
    </variables>
</Flow>
